.topPanel {
    background-color: rgb(218, 193, 234);
    padding: 0.25%;
    color: rgb(30, 30, 30);
  }

  .inputPanel
  {
      width:25%
  }

  .axis-label{
      fill:black;
  }

  .legendText
  {
      cursor: pointer;
      font-size: large;
  }

  .mainControllerPanel
  {
      margin-right: 5%;
      margin-left:5%;
  }

  .visualizationContainer
  {
      margin-top:2%
  }

  .selected {
    opacity: 1 !important;
    stroke: black;
    stroke-width: 1px;
  }